<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pass</title>
</head>
<body>

<h2>hello there..!!!</h2>

<form action="/action_page.php" method="post">
  <label for="self">Would you like to travel by:</label>
  <input list="browsers" name="self" id="self">
  <datalist id="browsers">
    <option value="Public Transport">
      <option value="Self travel by Car">



  </datalist>
  <input type="submit" >
</form>

<br>
<form name="passdata" action="." method="post">

        <input type="submit" value="Attractive places nearby"><br>
        <br>
        <input type="submit" value="Planning for stay?">

    </form>


</body>
</html>